@use "variables" as *;
@use "mixin" as *;

.team {
  border-bottom: 1px solid #373737;

  &__title {
    text-align: center;
    @include ui-second-font($fz: 150px, $lh: 100%, $fw: 300, $clr: #373737);
    padding: 70px 0 50px;

    text-transform: uppercase;

    @media screen and (min-width: 1800px) {
      @include ui-second-font($fz: 212px, $lh: 100%, $fw: 300, $clr: #373737);
    }

    @media screen and (max-width: $ui-breakpoint-xl) {
      @include ui-second-font($fz: 108px, $lh: 100%, $fw: 300, $clr: #373737);
    }

    @media screen and (max-width: $ui-breakpoint-lg) {
      @include ui-second-font($fz: 108px, $lh: 100%, $fw: 300, $clr: #373737);
      padding: 40px 0 30px;
    }
    @media screen and (max-width: $ui-breakpoint-md) {
      @include ui-second-font($fz: 108px, $lh: 100%, $fw: 300, $clr: #373737);
    }
    @media screen and (max-width: $ui-breakpoint-sm) {
      @include ui-second-font($fz: 56px, $lh: 100%, $fw: 300, $clr: #373737);
    }
    @media screen and (min-width: $ui-breakpoint-sm--min) and (max-width: 600px) {
      @include ui-second-font($fz: 56px, $lh: 100%, $fw: 300, $clr: #373737);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 40px;

    @media screen and (max-width: $ui-breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
    }

    @media screen and (max-width: $ui-breakpoint-md) {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
    }
  }

  &__card {
    width: 100%;
    padding: 30px 0;
    &:last-child {
      grid-row-start: span 1;
      grid-column-start: span 2;
      @media screen and (max-width: $ui-breakpoint-lg) {
        grid-row-start: span 1;
        grid-column-start: span 1;
      }
    }
    &--title {
      @include ui-second-font($fz: 30px, $lh: 100%, $fw: 800, $clr: #515151);
      margin-bottom: 10px;
      @media screen and (max-width: $ui-breakpoint-lg) {
        text-align: center;
      }
    }

    &--subtitle {
      @include ui-second-font($fz: 20px, $lh: 100%, $fw: 400, $clr: #515151);
      margin-bottom: 15px;
      @media screen and (max-width: $ui-breakpoint-lg) {
        text-align: center;
      }
    }
    &--photo {
      width: 100%;
    }

    &--body {
      width: 100%;
    }

    &--footer {
      text-align: end;
    }

    &--social-list {
      display: flex;
      gap: 10px;
      justify-content: flex-end;

      @media screen and (max-width: $ui-breakpoint-lg) {
        justify-content: center;
      }
    }
    &--icon {
      width: 30px;
      height: 30px;
    }

    &--inner {
      height: 100%;
      display: flex;
      gap: 15px;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: $ui-breakpoint-md) {
        text-align: center;
      }
    }

    &-title {
      @include ui-second-font($fz: 64px, $lh: 100%, $fw: 600, $clr: #515151);
      @media screen and (max-width: $ui-breakpoint-md) {
        @include ui-second-font($fz: 40px, $lh: 100%, $fw: 600, $clr: #515151);
        text-align: center;
      }
    }
    &-subtitle {
      @include ui-second-font($fz: 30px, $lh: 100%, $fw: 400, $clr: #515151);
      @media screen and (max-width: $ui-breakpoint-md) {
        @include ui-second-font($fz: 40px, $lh: 100%, $fw: 400, $clr: #515151);
        text-align: center;
      }
    }

    &--btn {
      width: fit-content;
      background-color: #373737;
      display: flex;
      justify-content: center;
      gap: 15px;
      padding: 15px 30px;
      border-radius: 50px;
      @include ui-second-font($fz: 18px, $lh: 100%, $fw: 300, $clr: #fff);

      border: none;
      box-shadow: none;
      @media screen and (max-width: $ui-breakpoint-md) {
        width: 100%;
      }
    }
  }
}
